$currentColor: transparent;
$color-green: #65c466;
$color-white: #ffffff;
$color-bg: #243246;
$color-text-main: #9d9d9d;
$color-text-second: #414141;
$color-text-third: #c2c2c2;
$color-text-fourth: #a3a3a3;
$color-text-fifth: #696969;
$color-text-sixth: #a9a9a9;
$color-text-seventh: #959aa6;
/===== icon =====/ 
$color-icon-one: #c2c1c2;
$font-main: ;