$currentColor: transparent;
$color-green: #65c466;
$color-white: #ffffff;
$color-bg: #243246;
$color-text-main: #9d9d9d;
$color-text-second: #414141;
$color-text-third: #c2c2c2;
$color-text-fourth: #a3a3a3;
$color-text-fifth: #696969;
$color-text-sixth: #a9a9a9;
$color-text-seventh: #959aa6;

// ICON
$color-icon-one: #c2c1c2;
$ff-gilroy: Gilroy;
$ff-trajan: Trajan Pro 3;
$ff-roboto: "Roboto", sans-serif;

//BUTTON
$color-bg-button: #f0f0f0;

//
$color-shadow-01: rgba(0, 0, 0, 0.15);
